.box {
  padding: var(--s1);
  border: var(--border-thin) solid;
  color: var(--color-ink);
  background-color: var(--color-paper);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-paper);
  background-color: var(--color-ink);
}
